<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Almoxarifado</title>
</head>
<body>

<h1>Almoxarifado</h1>

<ul>
  <li><a href="cadastra-tipo-peca">Cadastra tipo de peças</a> </li>
  <li><a href="cadastra-cliente">Cadastra cliente</a> </li>
  <li><a href="cadastra-corredor">Cadastra Corredor</a> </li>
  <li><a href="cadastra-receptaculo">Cadastra Receptaculo</a> </li>
</ul>

<hr />
<ul>
  <li><a href="recebimento-pecas" >Registra chegada de peças</a></li>
  <li><a href="estoca-receptaculo" >Distribui receptaculo</a></li>
  <li><a href="pedido-pecas" >Pedido cliente</a></li>

</ul>
</body>
</html>
